<h1>Listing contacts</h1>
<br>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Email</th>
      <th>Group</th>
      <th>Action</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.address %></td>
        <td><%= contact.email %></td>
        <td><%= contact.group.name if contact.group %></td>

        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Write Message', contacts_send_message(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <td><%= 'Deleted' if contact.deleted %></td>
    
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @contacts %>

<button type="button" class="btn"><%= link_to 'New Contact', new_contact_path %></button>


